{% extends "baselayout.html" %}
 
{% block content %}

<form action = "" method = "post" role = "form" class="form">
	<div class="row">
	<div class = "form-group col-lg-3">	
		<label class="control-label">Enter Barcode</label>
		<div {% if form.barcode.errors %} class = "has-error" {% else %} class="" {% endif %} >
			{{ form.barcode(class="form-control") }} 
		</div>
	</div>
	</div>
	<div class="row">
	<div class = "form-group col-lg-3">	
		<label class="control-label">Enter Quantity </label>
		<div {% if form.quantity.errors %} class = "has-error" {% else %} class="" {% endif %} >
			{{ form.quantity(class="form-control") }} 
		</div>
	</div>
	</div>
	<div class="form-group">
		<input type="submit" value="Increase Display Stock" class="btn btn-primary">
	</div>
		
</form>


{% endblock %}