{% extends "bootstrap/base.html" %}
{% block html_attribs %} lang="en"{% endblock %}
<html lang="en">
<meta charset="utf-8" >
{% block head %}
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} Group 10 HICMS CG3002 {%endblock%}</title> 
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="http://code.jquery.com/ui/1.10.3/themes/overcast/jquery-ui.css" rel="stylesheet">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">

    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="http://malsup.github.io/jquery.blockUI.js"></script>
    <!--<script>
    $(function() {
      $( "#date" ).datepicker({ dateFormat: "yy-mm-dd" });
    });
    </script>-->

  </head>
{%endblock%}
  <body>
  {% block body %}

        {% macro render_sitem(endpoint, display, cls='', icon_cls='', active='', align = '') %}
          <li {% if request.endpoint == endpoint or active == endpoint %} class='active'  align="{{ align }}" {% endif %}>
            <a class='navbar-brand' {% if request.endpoint == endpoint or active == endpoint %} href="#" {% else %} href="{{url_for(endpoint)}}"{% endif %}> {{display}}</a>
          </li>
        {% endmacro %}

    <header>
      <div class="container">
        <h1 class="logo"><center> Shop HICMS </center></h1>
          <nav class = "navbar navbar-default" role = "navigation">
            <div class = "collapse navbar-collapse navbar-ex1-collapse">
              <ul class="nav navbar-nav navbar-left">
                {% if 'email' in session %}
               
                {{render_sitem('sa_operation',  ('Operations'), icon_cls='', active=active_page)}}
                {{render_sitem('profile', ('Profile'), icon_cls='', active=active_page)}}
                {{render_sitem('settings', ('Settings'), icon_cls='', active=active_page)}}
                </ul>
              
                <ul class="nav navbar-nav navbar-right">
                  {{render_sitem('signout', ('Sign out'), icon_cls='', active=active_page, align=right)}}
                </ul>
              
              {% else %}
              
                <ul class="nav navbar-nav navbar-right">
                  <!-- <li {% if endpoint == request.signup %} class="active" {% endif%}>
                    <a href="{{ url_for('signup') }}">Sign Up</a>
                  </li>
                  <li {% if endpoint == request.signin %} class="active" {% endif%}>
                    <a href="{{ url_for('signin') }}">Sign In</a>
                  </li> -->
                  {{render_sitem('signup', ('Sign Up'), icon_cls='', active=active_page, align=right)}}
                  {{render_sitem('signin', ('Sign In'), icon_cls='', active=active_page, align=right)}}
                </ul>
              
              {% endif %}
            </div>
            
          </nav>
      </div>
    </header> 
    
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
         
   {% endblock %}  

   </body>
</html>