<html>
<meta charset="utf-8">
  <head>
    <title> Group 10 HICMS CG3002 </title>    
     
  </head>
  <body>
   
    <header>
      <div class="container">
        <h1 class="logo"><center> HICMS </center></h1>
          {% if 'email' in session %}
          <li><a href="{{ url_for('product_functions') }}">Operations</a></li>
          <li><a href="{{ url_for('profile') }}">Profile</a></li>
          <li><a href="{{ url_for('signout') }}">Sign Out</a></li>
          {% else %}
          <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
          <li><a href="{{ url_for('signin') }}">Sign In</a></li>
          {% endif %}
      </div>
    </header> 
     
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
         
   </body>
</html>